@model IEnumerable<PickleApplication.BusinessLayer.Models.Product>
@{
    ViewBag.Title = "Kategoriler";
}

@foreach (var product in Model)
{
    <p>@product.ProductName</p>
    <p>@product.UnitPrice</p>
}